doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/angular.min.js')
    script(src='/js/ui-bootstrap-tpls-0.11.0.min.js')
    script(src='/js/controllers/app.js')
  body
    block content